body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #C4EEF2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginSubscript {
  font-size: 14px;
  margin-left: 65px;
  margin-top: 10px;
  color: dimgrey;
}

.link {
  cursor: pointer;
  color: #3B83C0;
  text-decoration: underline;
  font-size: 14px;
}

.restaurantImage {
  height: 150px;
}

.navbar {
  background-color: #74BCCC  !important;
  color: ghostwhite !important;
  vertical-align: center !important;
  margin-bottom: 45px !important;
  font-size: 15px !important;
  height: 75px;
}

.logo {
  margin-right: 10px !important;
  padding: 0 !important
}

.companyName {
  font-size: 18px !important;
  padding-bottom: 23px !important;
}

.menuItems {
  padding-bottom: 24px !important;
  color: ghostwhite !important;
}

.form {
  width: 80% !important;
  margin: 0 auto !important;
  text-align: left;
}

.formHeader {
  margin-top: 15px !important;
  margin-left: 30px !important;
  color: dimgrey !important;
}

.listHeaders {
  color: dimgrey !important;
  margin-bottom: 20px !important;
}

.restaurantCategory {
  font-size: 15px !important;
  color: dimgrey !important;
}

.address {
  margin-bottom: 10px !important;
}

.cardDetail {
  fontsize: 13px !important;
  color: dimgrey !important;
}


.footer {
  background-color: #0F7880 !important;
  color: ghostwhite !important;
  font-size: 15px !important;
  margin-top: 50px !important;
}
